# Demographic Data Analyzer
Free Code Camp \
Data Analysis with Python \
Assignment #2 \
Steve Reilly

#### Assignment requirements
1. Use the starter code in the file [demographic_data_analyzer.py](https://github.com/freeCodeCamp/boilerplate-demographic-data-analyzer/blob/1fed7bb013559779ec8e23a0809644b1581df072/demographic_data_analyzer.py).
2. Update the code so all variables set to None are set to the appropriate calculation or code.
3. Round all decimals to the nearest tenth.

####  Data source
https://github.com/freeCodeCamp/boilerplate-demographic-data-analyzer/raw/1fed7bb013559779ec8e23a0809644b1581df072/adult.data.csv

#### Starter code (raw import for reference)

In [ ]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = None

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = None

    # What is the average age of men?
    average_age_men = format(df[df['sex']=="Male"]['age'].mean(),".2f")

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = format(((len(df[df['education']=="Bachelors"])*100))/(len(df)),".2f")

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    higher_education_rich = 
    
    # What percentage of people without advanced education make more than 50K?
    lower_education_rich = format(len(df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate') & (df['salary']==">50K")]) / len(df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')])*100,".2f")

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = None
    lower_education = None

    # percentage with salary >50K
    higher_education_rich = None
    lower_education_rich = None

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = None

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = None

    rich_percentage = None

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = None
    highest_earning_country_percentage = None

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = None

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

#### Final code for submission

In [ ]:
import pandas as pd

def calculate_demographic_data(print_data=True):
    # Read data from file
    csv_url = "https://github.com/freeCodeCamp/boilerplate-demographic-data-analyzer/raw/1fed7bb013559779ec8e23a0809644b1581df072/adult.data.csv"
    df = pd.read_csv(csv_url)
    
    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = format(df['race'].value_counts(),".2f")

    # What is the average age of men?
    average_age_men = format(df[df['sex']=="Male"]['age'].mean(),".2f")

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = format(((len(df[df['education']=="Bachelors"])*100))/(len(df)),".2f")

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    higher_education_rich = format(len(df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate') & (df['salary']==">50K")]) / len(df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')])*100,".2f")

    # What percentage of people without advanced education make more than 50K?
    higher_education_rich = format(len(df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate') & (df['salary']==">50K")]) / len(df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')])*100,".2f")

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = format(len(df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]) / len(df)*100,".2f")
    lower_education = format(len(df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')]) / len(df)*100,".2f")

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = format(df['hours-per-week'].min(),".2f") 

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = format(len(df[(df['hours-per-week'] == 1) & df['salary']==">50K"])  /  len(df[(df['hours-per-week'] == 1)])*100,".2f")

    rich_percentage = format(((len(df[df['salary']==">50K"])*100))/(len(df)),".2f")

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = df[df['salary'] == ">50K"]['native-country'].value_counts(normalize=True).idxmax()
    highest_earning_country_percentage = format(df[df['salary'] == ">50K"]['native-country'].value_counts(normalize=True).max() * 100,".2f")

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = df[(df['salary'] == ">50K") & (df['native-country'] == 'India')]['occupation'].value_counts(normalize=True).idxmax()

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

#### Working/test area

In [3]:
import pandas as pd


#def calculate_demographic_data(print_data=True):
    # Read data from file
csv_url = "https://github.com/freeCodeCamp/boilerplate-demographic-data-analyzer/raw/1fed7bb013559779ec8e23a0809644b1581df072/adult.data.csv"
df = pd.read_csv(csv_url)

In [38]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [9]:
#hours per week average
format(df['hours-per-week'].min(),".2f")

'1.00'

In [6]:
#average age of a male
format(df[df['sex']=="Male"]['age'].mean(),".2f")

'39.43'

In [7]:
len(df)

32561

In [19]:
race_counts = df['race'].value_counts()
race_counts

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [17]:
# percent with a bachelor's degree
format(((len(df[df['education']=="Bachelors"])*100))/(len(df)),".2f")

'16.45'

In [20]:
# percent with salary greater than 500000 (rich percentage)
format(((len(df[df['salary']==">50K"])*100))/(len(df)),".2f")

'24.08'

In [51]:
# percent of people with higher education who make more than 50,000

format(len(df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate') & (df['salary']==">50K")]) / len(df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')])*100,".2f")

'98.57'

In [52]:
# percent of people without higher education who make more than 500,000

format(len(df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate') & (df['salary']==">50K")]) / len(df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')])*100,".2f")

'17.37'

In [58]:
format(len(df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]) / len(df)*100,".2f")

'23.01'

In [56]:
format(len(df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')]) / len(df)*100,".2f")

'76.99'

In [60]:
df['hours-per-week'].min()

1

In [62]:
format(len(df[(df['hours-per-week'] == 1) & df['salary']==">50K"])  /  len(df[(df['hours-per-week'] == 1)])*100,".2f")

'0.00'

In [64]:
## Country with highest percent of high salary
df[df['salary'] == ">50K"]['native-country'].value_counts(normalize=True).idxmax()

'United-States'

In [67]:
# percent greater than 50K in the country with highest percent
format(df[df['salary'] == ">50K"]['native-country'].value_counts(normalize=True).max() * 100,".2f")

'91.46'

In [68]:
## most common occupation for those earning 50k+ in India
df[(df['salary'] == ">50K") & (df['native-country'] == 'India')]['occupation'].value_counts(normalize=True).idxmax()

'Prof-specialty'